body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:antiquewhite;
}
/*comment*/
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color:orange;
}

nav a:hover{
    color: grey;
}

.aboutme{
  width: 1000px;
  height: 600px;
  margin: 1.5em auto;
  background-color: darkolivegreen;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

.aboutme header
{
  border-radius: 2em 2em 0 0;
  height: 50px;
  padding-left: 2.5em;
  padding-top: 1.5em;
  float: left;
  font-size:20px;
  color:antiquewhite;
}

aside {
    width: 40%;
    padding-top: 0em;
    padding-left: 6rem;
    margin-left: 6rem;
    float: left;
    color:antiquewhite;
    font-size: 22px;
    line-height: 2;
}

.aboutme img
{
    width: 350px;
    float: right;
    padding-right: 1em;
    padding-top: .75em;
}

@media only screen and (max-width: 400px) {
    nav{
        float: none;
        width: 100%; 
    }
    nav a{
        float: none;
        width: 100%;
    }
    .aboutme{
        float: none;
        width: 100%;
        height: 1200px;

    }

.aboutme header
{
    float: none;
    width: 100%;
    padding-top: 1em;
    float: center;

}
aside{
    float: none;
    width: 100%;
    padding-top: 0rem;
    padding-left: 0rem;
    margin-left: 0rem;
    line-height: 2;
}

}

